.buy-btn {
    background-color: var(--accent-blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: var(--buy-hover);
        transform: scale(1.05);
    }
}