.product-card {
    flex: 0 1 260px;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    animation: fadeIn 0.5s ease;

    &:hover {
        transform: translateY(-8px);
    }

    h3 {
        font-size: 19px;
        margin: 10px 0;
    }
}

.price {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.product-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
}